.createTodo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.createTodo-container button {
  width: 100%;
  height: 4.4rem;
  border: none;
  background-color: #7996f5;
  cursor: pointer;
}

.createTodo-container button img {
  transition: transform 1s;
  height: 40%;
}

.createTodo-container button:hover img {
  transform: rotate(360deg);
}

.createTodo-container button:hover {
  background-color: #5f7cd9;
}
